<div id="action-form-search" class="action-form-export">
    <button type="button" class="btn btn-primary px-4" style="margin-left: 20px" data-toggle="modal" data-target="#modalExport">
        Export
    </button>

    <div class="modal fade" id="modalExport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document" style="min-width: 15rem">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold" style="font-size: 18px;" id="exampleModalLabel">Export</h4>
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                        X
                    </button>
                </div>

                <div class="modal-body">
                    <div class="d-flex justify-content-center align-items-center">
                        <div>
                            <label for="start" class="label-input-time" id="label-start">From:</label>
                            <input type="date" class="input-date-time" id="start-date" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                        </div>

                        <div style="margin-left: 2em">
                            <label for="end" class="label-input-time">To:</label>
                            <input type="date" class="input-date-time" id="end-date" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                        </div>

                        <button class="btn btn-primary px-5 form-button-export" style="margin-left: 2em">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>