<div id="form-setting">
    @*<i class="fa fa-cog icon-form-setting" style="margin-left: 10px;cursor: pointer" aria-hidden="true" data-toggle="modal" data-target="#modalSetting"></i>*@
    <button data-toggle="modal" data-target="#modalSetting">A</button>
    <div class="modal fade" id="modalSetting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold" style="font-size: 18px;" id="exampleModalLabel">Setting</h4>
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                        X
                    </button>
                </div>

                <div class="modal-body" style="padding-bottom: 2em;">
                    <div>
                        <form>
                            <div class="mt-5" style="border-top: none; text-align:right;">
                                <button type="submit" class="btn btn-primary button-setting">Setting</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>